In [1]:
from pandas import DataFrame, read_csv, datetime, Series, Timestamp
import matplotlib.pyplot as plt
import pandas as pd
import matplotlib
import numpy as np
from pandas.tseries.offsets import *
import time
import datetime
#%matplotlib inline

In [2]:
local = r'/home/pauloque/programacao/pauloqrepo/jupyter/NEMEA/NEMEA.xlsx'
dfp = pd.read_excel(local)
dfp

                                      Codigo
0                          * NMEA Latitude =
1                         * NMEA Longitude =
2                        * NMEA UTC (Time) =
3  * Store Lat/Lon Data = Add to Header Only

In [3]:
local2 = r'/home/pauloque/programacao/pauloqrepo/jupyter/NEMEA/cnvs/dMCTV001.xlsx'
dfp2 = pd.read_excel(local2)
dfp2.head(10)

                       * Sea-Bird SBE 9 Data File:
0                 * FileName = D:\ACEX\MCTV001.hex
1                * Software Version Seasave V 7.17
2                          * Temperature SN = 4821
3                         * Conductivity SN = 3367
4                  * Number of Bytes Per Scan = 18
5                    * Number of Voltage Words = 2
6  * Number of Scans Averaged by the Deck Unit = 1
7      * System UpLoad Time = Jun 12 2012 10:34:17
8                                           ** H38
9                           ** NHo Cruzeiro do Sul

In [4]:
cnv = []
for i in dfp2['* Sea-Bird SBE 9 Data File:']:
    cnv.append(i)

#a = cnv[7:8]
#astr = str(a[0])
#astr[0:3]
if cnv[7].startswith('* System UpLoad Time ='):
    print('oi')

oi

In [5]:
cnvnemea = []
for k in dfp['Codigo']:
    cnvnemea.append(k)
cnvnemea

['* NMEA Latitude =',
 '* NMEA Longitude =',
 '* NMEA UTC (Time) =',
 '* Store Lat/Lon Data = Add to Header Only']

In [6]:
cnvredondo = []
for p in cnv:
    cnvredondo.append(p)
    if p == cnv[7]:
        for k in range(len(cnvnemea)):
            cnvredondo.append(cnvnemea[k])
#cnvredondo

In [9]:
#cnvlat = cnv[13][4:15]
#cnvlon = cnv[14][4:16]
#cnvlat

In [25]:
#Timestamp
h = ('14/06/2012 05:05')
Timestamp(h)
print(h)

14/06/2012 05:05

In [7]:
#Importante usar essas condicoes para encontrar no cnv qualquer 
#os dados a serem implemntados no formato nemea
cnvlat = []
for lat in range(len(cnv)):
    if cnv[lat].startswith('**') and cnv[lat].endswith('S'):
        cnvlat.append(cnv[lat])
print(cnvlat)

cnvlon = []
for lon in range(len(cnv)):
    if cnv[lon].startswith('**') and cnv[lon].endswith('W'):
        cnvlon.append(cnv[lon])
print(cnvlon)  

cnvhor = []
for hor in range(len(cnv)):
    if cnv[hor].startswith('**') and cnv[hor].endswith('S'):
        cnvlat.append(cnv[lat])
print(cnvlat)

['**  25 59.557 S']
['**  045 32.712 W']
['**  25 59.557 S', '35791 164.457734    -78.845    449.763     8.0187   3.646622     3.2955    446.000     7.9723    35.0369  1029.3433    27.3001    6.59536 0.0000e+00']

In [12]:
#cnvnemea + latlon teste
testel = str(cnvredondo[8]) + str(cnvlat[0][2:15])
testel

'* NMEA Latitude =  25 59.557 S'

In [8]:
#cnvnemea + latlon 
strlat = str(cnvnemea[0]) + str(cnvlat[0][2:15])
print(strlat)
strlon = str(cnvnemea[1]) + str(cnvlon[0][2:16])
print(strlon)

* NMEA Latitude =  25 59.557 S
* NMEA Longitude =  045 32.712 W

In [66]:
cnvnemeal = [strlat, strlon, dataredonda, cnvnemea[3]]
cnvnemeal

['* NMEA Latitude =  25 59.557 S',
 '* NMEA Longitude =  045 32.712 W',
 '* NMEA UTC (Time) = Jun 06 2012 13:33:00',
 '* Store Lat/Lon Data = Add to Header Only']

In [ ]:
#Trabalhando com a data

NAO EH TAO INTERESSANTE QUANTO O STRPTIME
mes = Timestamp('19/03/1994')
strmes = []
s = str(mes)
strmes.append(s)
print(strmes)

In [44]:
dd = datetime.datetime.strptime("21/12/2008", "%d/%m/%Y").strftime("%Y-%m-%d")
type(dd)
dd

'2008-12-21'

In [51]:
x = dd.replace('-', ', ' )
x

'2008, 12, 21'

In [63]:
strdd = '(' + x[0:] + ')'
strdd

'(2008, 12, 21)'

In [87]:
in1 = strdd[1:5]
in2 = strdd[7:9]
in3 = strdd[11:13]

yyyy = int(in1)
mm = int(in2)
d = int(in3)

print(in1, in2, in3)

2008 12 21

In [88]:
#Month Name
month = datetime.date(yyyy, mm, d).strftime('%b')
month

'Dec'

In [ ]:
#generalizando em loop a data

In [16]:
#encontrando a hora
cnvdat = []
for dat in range(len(cnv)):
    if cnv[dat].startswith('**') and cnv[dat].endswith('Z'):
        cnvdat.append(cnv[dat])
print(cnvdat)

['**   12/06/2012 13:33Z']

In [65]:
#ajustando a data para o formato nemea
strdata = str(cnvdat)
datafat = strdata[7:17]
horafat = strdata[18:23]

yearfirst = datetime.datetime.strptime(datafat, "%d/%m/%Y").strftime("%Y-%m-%d")

ina = yearfirst[0:4]
inb = yearfirst[5:7]
inc = yearfirst[8:10]

yyyy = int(ina)
mm = int(inb)
d = int(inc)

#print(yyyy, mm, d)
#print(ina, inb, inc)

month = datetime.date(yyyy, mm, d).strftime('%b')
month

datared = (month + ' ' + inb + ' ' + ina + ' ' + horafat + ':00')
datared

dataredonda = str(cnvnemea[2]) + ' ' +datared

In [57]:
horafat

'13:33'

In [ ]:
#cnvnemea + hora

In [70]:
cnvredondao = []
for p in cnv:
    cnvredondao.append(p)
    if p == cnv[7]:
        
        for k in range(len(cnvnemeal)):
            cnvredondao.append(cnvnemeal[k])
#cnvredondao

In [68]:
produto = pd.DataFrame(data = cnvredondao)

In [17]:
#produto

In [72]:
produto.to_excel('produto1.xlsx',index=False,header=False)