In [1]:
from pandas import DataFrame, read_csv, datetime, Series, Timestamp
import matplotlib.pyplot as plt
import pandas as pd
import matplotlib
import numpy as np
from pandas.tseries.offsets import *
#%matplotlib inline

In [2]:
loca = r'/home/pauloque/programacao/pauloqrepo/jupyter/grafico_mare/dados_brutos/alturas_mare_excel.xlsx'
df = pd.read_excel(loca)

In [3]:
df

,DATA,HORA,ALT,HORA.1,ALT.1,HORA.2,ALT.2,HORA.3,ALT.3,HORA.4,ALT.4,HORA.5,ALT.5,HORA.6,ALT.6,HORA.7,ALT.7
0,2016-01-01,01:13:00,0.7,03:39:00,0.5,07:17:00,1.3,10:56:00,0.6,13:21:00,0.8,15:54:00,0.6,19:36:00,1.3,23:13:00,0.6
1,2016-01-02,01:43:00,0.8,04:26:00,0.5,08:08:00,1.2,11:30:00,0.7,13:47:00,0.8,16:43:00,0.6,20:26:00,1.2,23:58:00,0.7
2,2016-01-03,02:00:00,0.8,05:11:00,0.5,09:04:00,1.1,12:13:00,0.8,13:56:00,0.9,17:24:00,0.5,21:28:00,1.2,NaN,NaN
3,2016-01-04,00:53:00,0.9,02:06:00,0.9,06:02:00,0.5,10:13:00,1.1,18:09:00,0.4,22:53:00,1.2,NaN,NaN,NaN,NaN
4,2016-01-05,06:56:00,0.4,11:49:00,1.1,18:58:00,0.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2016-01-06,00:21:00,1.3,07:51:00,0.4,12:54:00,1.2,19:45:00,0.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2016-01-07,01:13:00,1.4,08:41:00,0.4,13:34:00,1.3,20:28:00,0.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2016-01-08,01:56:00,1.5,09:26:00,0.4,14:08:00,1.4,21:13:00,0.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2016-01-09,02:34:00,1.6,10:04:00,0.3,14:49:00,1.5,22:00:00,0.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2016-01-10,03:08:00,1.6,10:49:00,0.3,15:17:00,1.5,22:51:00,0.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2016-01-11,03:45:00,1.6,11:32:00,0.3,15:53:00,1.5,23:41:00,0.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2016-01-12,04:11:00,1.6,12:17:00,0.4,16:23:00,1.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2016-01-13,00:32:00,0.1,04:53:00,1.5,08:41:00,0.7,10:04:00,0.8,13:08:00,0.4,17:02:00,1.5,21:06:00,0.6,22:19:00,0.6
13,2016-01-14,01:26:00,0.2,05:32:00,1.5,09:02:00,0.7,11:08:00,0.9,14:04:00,0.4,17:53:00,1.4,21:24:00,0.6,23:28:00,0.7
14,2016-01-15,02:28:00,0.3,06:15:00,1.4,09:41:00,0.6,12:06:00,1.0,15:02:00,0.4,18:43:00,1.4,22:02:00,0.6,NaN,NaN
15,2016-01-16,00:23:00,0.9,03:28:00,0.3,07:04:00,1.3,10:17:00,0.6,13:00:00,1.0,16:02:00,0.4,19:36:00,1.3,22:47:00,0.7
16,2016-01-17,01:13:00,1.1,04:26:00,0.3,07:58:00,1.2,11:04:00,0.6,13:53:00,1.1,17:00:00,0.3,20:34:00,1.2,23:24:00,0.8
17,2016-01-18,02:02:00,1.2,05:23:00,0.3,08:56:00,1.2,11:58:00,0.7,14:36:00,1.0,17:56:00,0.2,21:39:00,1.2,NaN,NaN
18,2016-01-19,00:09:00,0.9,02:51:00,1.2,06:21:00,0.3,09:58:00,1.2,12:58:00,0.8,15:11:00,1.0,18:53:00,0.1,22:58:00,1.2
19,2016-01-20,01:15:00,1.1,03:26:00,1.2,07:17:00,0.3,11:08:00,1.2,15:49:00,0.9,19:51:00,0.1,NaN,NaN,NaN,NaN
20,2016-01-21,00:13:00,1.3,08:15:00,0.3,12:17:00,1.4,20:45:00,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2016-01-22,01:09:00,1.5,09:09:00,0.3,13:13:00,1.5,21:36:00,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2016-01-23,02:00:00,1.6,10:00:00,0.3,14:02:00,1.7,22:19:00,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2016-01-24,02:45:00,1.7,07:43:00,0.7,10:45:00,0.3,14:51:00,1.8,19:09:00,0.4,20:08:00,0.4,23:02:00,0.1,NaN,NaN
24,2016-01-25,03:21:00,1.7,07:24:00,0.6,08:54:00,0.6,11:21:00,0.4,15:28:00,1.8,19:56:00,0.3,21:17:00,0.4,23:47:00,0.1
25,2016-01-26,04:00:00,1.7,08:09:00,0.5,09:58:00,0.6,12:00:00,0.4,16:06:00,1.8,20:38:00,0.3,22:24:00,0.4,NaN,NaN
26,2016-01-27,00:23:00,0.3,04:41:00,1.6,08:58:00,0.4,11:02:00,0.6,12:41:00,0.5,16:49:00,1.7,21:15:00,0.3,23:39:00,0.4
27,2016-01-28,01:02:00,0.4,05:15:00,1.6,09:36:00,0.4,12:04:00,0.6,13:15:00,0.6,17:28:00,1.6,21:54:00,0.3,NaN,NaN
28,2016-01-29,01:53:00,0.5,06:00:00,1.5,10:06:00,0.5,12:58:00,0.6,14:00:00,0.6,18:11:00,1.5,22:19:00,0.4,NaN,NaN
29,2016-01-30,01:02:00,0.6,02:51:00,0.6,06:49:00,1.3,10:36:00,0.5,13:09:00,0.7,15:00:00,0.6,19:00:00,1.4,22:54:00,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336,2016-12-02,04:23:00,1.6,08:39:00,0.6,10:17:00,0.6,12:23:00,0.6,16:43:00,1.5,21:08:00,0.4,22:54:00,0.4,NaN,NaN
337,2016-12-03,00:13:00,0.4,05:06:00,1.5,09:06:00,0.6,11:04:00,0.7,13:17:00,0.6,17:21:00,1.3,21:36:00,0.4,23:17:00,0.5
338,2016-12-04,01:19:00,0.4,05:53:00,1.4,09:41:00,0.7,11:51:00,0.8,14:17:00,0.6,18:04:00,1.2,22:04:00,0.5,23:58:00,0.6
339,2016-12-05,02:26:00,0.4,06:38:00,1.3,10:04:00,0.8,12:13:00,0.9,15:15:00,0.6,18:54:00,1.2,22:21:00,0.7,NaN,NaN
340,2016-12-06,00:17:00,0.7,03:28:00,0.4,07:21:00,1.2,10:23:00,0.8,12:51:00,1.0,16:08:00,0.5,19:47:00,1.1,22:47:00,0.8
341,2016-12-07,00:53:00,0.9,04:21:00,0.3,08:11:00,1.1,10:54:00,0.9,13:15:00,1.1,16:58:00,0.4,20:43:00,1.1,23:06:00,0.9
342,2016-12-08,01:24:00,1.1,05:09:00,0.2,09:09:00,1.1,11:23:00,0.9,13:56:00,1.2,17:45:00,0.3,21:53:00,1.1,23:49:00,1.0
343,2016-12-09,02:00:00,1.2,06:02:00,0.2,10:15:00,1.1,12:06:00,1.0,14:34:00,1.1,18:28:00,0.2,23:21:00,1.2,NaN,NaN
344,2016-12-10,00:23:00,1.2,02:34:00,1.2,06:56:00,0.1,11:30:00,1.1,14:53:00,1.1,19:19:00,0.1,NaN,NaN,NaN,NaN
345,2016-12-11,00:36:00,1.3,07:53:00,0.1,12:24:00,1.3,20:13:00,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
346,2016-12-12,01:11:00,1.5,08:51:00,0.1,13:08:00,1.4,21:09:00,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
347,2016-12-13,01:53:00,1.6,09:49:00,0.1,13:54:00,1.5,22:06:00,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
348,2016-12-14,02:28:00,1.7,10:43:00,0.2,14:36:00,1.6,19:56:00,0.5,23:00:00,0.0,NaN,NaN,NaN,NaN,NaN,NaN
349,2016-12-15,03:09:00,1.8,06:56:00,0.8,08:17:00,0.9,11:32:00,0.3,15:17:00,1.7,19:13:00,0.3,21:02:00,0.5,23:53:00,0.0
350,2016-12-16,03:58:00,1.7,07:32:00,0.7,09:30:00,0.9,12:17:00,0.4,16:04:00,1.7,20:00:00,0.3,22:04:00,0.5,NaN,NaN
351,2016-12-17,00:45:00,0.1,04:45:00,1.7,08:13:00,0.6,10:38:00,0.9,13:08:00,0.5,16:54:00,1.7,20:49:00,0.3,23:04:00,0.6
352,2016-12-18,01:38:00,0.2,05:30:00,1.6,09:02:00,0.6,11:38:00,0.9,14:04:00,0.5,17:41:00,1.6,21:36:00,0.3,NaN,NaN
353,2016-12-19,00:02:00,0.7,02:36:00,0.3,06:15:00,1.4,09:54:00,0.6,12:30:00,0.9,15:00:00,0.6,18:26:00,1.5,22:17:00,0.4
354,2016-12-20,00:58:00,0.7,03:32:00,0.4,07:04:00,1.3,10:38:00,0.6,13:13:00,0.9,15:58:00,0.6,19:17:00,1.4,23:02:00,0.5
355,2016-12-21,01:43:00,0.8,04:24:00,0.4,07:58:00,1.2,11:15:00,0.7,13:56:00,0.9,16:49:00,0.5,20:11:00,1.3,23:49:00,0.6
356,2016-12-22,02:08:00,0.8,05:13:00,0.4,08:56:00,1.2,12:04:00,0.8,14:09:00,0.9,17:30:00,0.5,21:11:00,1.2,NaN,NaN
357,2016-12-23,00:38:00,0.8,02:24:00,0.9,06:00:00,0.4,09:58:00,1.1,18:08:00,0.4,22:23:00,1.2,NaN,NaN,NaN,NaN
358,2016-12-24,06:47:00,0.4,11:11:00,1.2,18:51:00,0.4,23:47:00,1.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
359,2016-12-25,07:32:00,0.4,12:23:00,1.3,19:36:00,0.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
360,2016-12-26,00:51:00,1.4,08:23:00,0.4,13:09:00,1.4,20:24:00,0.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
361,2016-12-27,01:32:00,1.5,09:13:00,0.4,13:51:00,1.5,21:11:00,0.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
362,2016-12-28,02:08:00,1.6,10:00:00,0.4,14:24:00,1.5,21:51:00,0.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
363,2016-12-29,02:51:00,1.7,10:43:00,0.4,15:04:00,1.6,22:30:00,0.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
364,2016-12-30,03:26:00,1.7,11:15:00,0.4,15:47:00,1.6,23:08:00,0.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
365,2016-12-31,04:06:00,1.6,11:56:00,0.5,16:21:00,1.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## DATA e HORA para string

In [29]:
data = str(df['DATA'][0])
data

'2016-01-01 00:00:00'

In [5]:
stampdata = data[0:len(data) - 9] + ' ' + str(df['HORA'][0])
stampdata

'2016-01-01 01:13:00'

In [33]:
data[0:4]

'2016'

In [6]:
hora = Timestamp(stampdata)
hora

Timestamp('2016-01-01 01:13:00')

------------------------

In [5]:
datas = []

for i in df['DATA'] :
    datas.append(Timestamp(i))
#datas

In [6]:
datasstr = []

for i in datas:
    strdata = str(i)
    datasstr.append(strdata)
type(datasstr)

list

In [7]:
datasstr[1][0:3]

'201'

In [8]:
#Ja sei concatenar mas ainda nao eh a concatenacao correta
datahora = []
for l in range(len(datasstr)):
    stampdatas = datasstr[l][0:len(datasstr[l]) - 9] + ' ' +str(df['HORA'][l])
    datahora.append(stampdatas)
#datahora

dataHORA = []
for l in range(len(datasstr)):
    stampdatas = datasstr[l][0:len(datasstr[l]) - 9] + ' ' +str(df['HORA'][l])
    print(stampdatas)

In [9]:
datasstr[1]

'2016-01-02 00:00:00'

In [10]:
stampdatas = datasstr[1][0:len(datasstr[l]) - 9] + ' ' +str(df['HORA'][1])
stampdatas

'2016-01-02 01:43:00'

In [11]:
cabecalho = []
for i in df:
    cabecalho.append(i)
cabecalho

['DATA',
 'HORA',
 'ALT',
 'HORA.1',
 'ALT.1',
 'HORA.2',
 'ALT.2',
 'HORA.3',
 'ALT.3',
 'HORA.4',
 'ALT.4',
 'HORA.5',
 'ALT.5',
 'HORA.6',
 'ALT.6',
 'HORA.7',
 'ALT.7']

In [12]:
string = "hello world"
string.startswith("hello")
print('oi')

oi

In [13]:
strcabec = []
for i in cabecalho:
    if i.startswith('HORA'):
        strcabec.append(i)
strcabec

['HORA', 'HORA.1', 'HORA.2', 'HORA.3', 'HORA.4', 'HORA.5', 'HORA.6', 'HORA.7']

In [14]:
#Gratidao
indice = []
for l in range(len(datasstr)):
    for i in strcabec:
        stampdatas = datasstr[l][0:len(datasstr[l]) - 9] + ' ' +str(df[i][l])
        indice.append(stampdatas)
#indice

In [15]:
#DataFrameDATAxAlT
dfdxa = pd.DataFrame(indice)
dfdxa.index = indice
dfdxa.columns = ['ALT']
dfdxa['ALT'] = 0
dfdxa

                     ALT
2016-01-01 01:13:00    0
2016-01-01 03:39:00    0
2016-01-01 07:17:00    0
2016-01-01 10:56:00    0
2016-01-01 13:21:00    0
2016-01-01 15:54:00    0
2016-01-01 19:36:00    0
2016-01-01 23:13:00    0
2016-01-02 01:43:00    0
2016-01-02 04:26:00    0
2016-01-02 08:08:00    0
2016-01-02 11:30:00    0
2016-01-02 13:47:00    0
2016-01-02 16:43:00    0
2016-01-02 20:26:00    0
2016-01-02 23:58:00    0
2016-01-03 02:00:00    0
2016-01-03 05:11:00    0
2016-01-03 09:04:00    0
2016-01-03 12:13:00    0
2016-01-03 13:56:00    0
2016-01-03 17:24:00    0
2016-01-03 21:28:00    0
2016-01-03 nan         0
2016-01-04 00:53:00    0
2016-01-04 02:06:00    0
2016-01-04 06:02:00    0
2016-01-04 10:13:00    0
2016-01-04 18:09:00    0
2016-01-04 22:53:00    0
...                  ...
2016-12-28 14:24:00    0
2016-12-28 21:51:00    0
2016-12-28 nan         0
2016-12-28 nan         0
2016-12-28 nan         0
2016-12-28 nan         0
2016-12-29 02:51:00    0
2016-12-29 10:43:00    0
2016-12-29 15:04:00    0
2016-12-29 22:30:00    0
2016-12-29 nan         0
2016-12-29 nan         0
2016-12-29 nan         0
2016-12-29 nan         0
2016-12-30 03:26:00    0
2016-12-30 11:15:00    0
2016-12-30 15:47:00    0
2016-12-30 23:08:00    0
2016-12-30 nan         0
2016-12-30 nan         0
2016-12-30 nan         0
2016-12-30 nan         0
2016-12-31 04:06:00    0
2016-12-31 11:56:00    0
2016-12-31 16:21:00    0
2016-12-31 nan         0
2016-12-31 nan         0
2016-12-31 nan         0
2016-12-31 nan         0
2016-12-31 nan         0

[2928 rows x 1 columns]

In [16]:
alt1 = df['ALT'][0]
alt1

0.69999999999999996

In [17]:
altura = []
for p in range(len(datasstr)):
    for i in cabecalho:
        if i.startswith('ALT'):
            altu = df[i][p]
            altura.append(altu)
#altura

In [19]:
dfdxa['ALT'] = altura
dfdxa

                     ALT
2016-01-01 01:13:00  0.7
2016-01-01 03:39:00  0.5
2016-01-01 07:17:00  1.3
2016-01-01 10:56:00  0.6
2016-01-01 13:21:00  0.8
2016-01-01 15:54:00  0.6
2016-01-01 19:36:00  1.3
2016-01-01 23:13:00  0.6
2016-01-02 01:43:00  0.8
2016-01-02 04:26:00  0.5
2016-01-02 08:08:00  1.2
2016-01-02 11:30:00  0.7
2016-01-02 13:47:00  0.8
2016-01-02 16:43:00  0.6
2016-01-02 20:26:00  1.2
2016-01-02 23:58:00  0.7
2016-01-03 02:00:00  0.8
2016-01-03 05:11:00  0.5
2016-01-03 09:04:00  1.1
2016-01-03 12:13:00  0.8
2016-01-03 13:56:00  0.9
2016-01-03 17:24:00  0.5
2016-01-03 21:28:00  1.2
2016-01-03 nan       NaN
2016-01-04 00:53:00  0.9
2016-01-04 02:06:00  0.9
2016-01-04 06:02:00  0.5
2016-01-04 10:13:00  1.1
2016-01-04 18:09:00  0.4
2016-01-04 22:53:00  1.2
...                  ...
2016-12-28 14:24:00  1.5
2016-12-28 21:51:00  0.2
2016-12-28 nan       NaN
2016-12-28 nan       NaN
2016-12-28 nan       NaN
2016-12-28 nan       NaN
2016-12-29 02:51:00  1.7
2016-12-29 10:43:00  0.4
2016-12-29 15:04:00  1.6
2016-12-29 22:30:00  0.2
2016-12-29 nan       NaN
2016-12-29 nan       NaN
2016-12-29 nan       NaN
2016-12-29 nan       NaN
2016-12-30 03:26:00  1.7
2016-12-30 11:15:00  0.4
2016-12-30 15:47:00  1.6
2016-12-30 23:08:00  0.2
2016-12-30 nan       NaN
2016-12-30 nan       NaN
2016-12-30 nan       NaN
2016-12-30 nan       NaN
2016-12-31 04:06:00  1.6
2016-12-31 11:56:00  0.5
2016-12-31 16:21:00  1.5
2016-12-31 nan       NaN
2016-12-31 nan       NaN
2016-12-31 nan       NaN
2016-12-31 nan       NaN
2016-12-31 nan       NaN

[2928 rows x 1 columns]

In [ ]:
dfdxa['ALT'].plot(figsize=(15,5))
plt.show()