In [1]:
from pandas import DataFrame, read_csv
import matplotlib.pyplot as plt
import pandas as pd
import matplotlib
#%matplotlib inline

In [2]:
Local = r'/home/pauloque/programacao/pauloqrepo/dados_brutos/alturas_mare2.csv'
#df = pd.read_csv(Local, header = None)
df = pd.read_csv(Local, names = ['Data','H1','A1', 'H2', 'A2', 'H3', 'A3','H4', 'A4', 'H5', 'A5', 'H6', 'A6', 'H7', 'A7', 'H8', 'A8'])

In [4]:
df.head()

,Data,H1,A1,H2,A2,H3,A3,H4,A4,H5,A5,H6,A6,H7,A7,H8,A8
0,01/01/2016,01:13,0.7,03:39,0.5,07:17,1.3,10:56,0.6,13:21,0.8,15:54,0.6,19:36,1.3,23:13,0.6
1,02/01/2016,01:43,0.8,04:26,0.5,08:08,1.2,11:30,0.7,13:47,0.8,16:43,0.6,20:26,1.2,23:58,0.7
2,03/01/2016,02:00,0.8,05:11,0.5,09:04,1.1,12:13,0.8,13:56,0.9,17:24,0.5,21:28,1.2,NaN,NaN
3,04/01/2016,00:53,0.9,02:06,0.9,06:02,0.5,10:13,1.1,18:09,0.4,22:53,1.2,NaN,NaN,NaN,NaN
4,05/01/2016,06:56,0.4,11:49,1.1,18:58,0.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
####df.to_excel('teste_excel_expo.xlsx', index = False)

In [14]:
####loca = r'C:\Users\Apaluz\programacao\pauloqrepo\dados_brutos\alturas_mare_excel.xlsx'
####df1 = pd.read_excel(loca)

In [7]:
#for i in df:
    #?print(i)

In [8]:
#for i in df:
 #   if i == 'A1':
  #      print(df[i])

In [9]:
test = df['Data'][0] + df['A1'][0]

TypeError: ufunc 'add' did not contain a loop with signature matching types dtype('<U32') dtype('<U32') dtype('<U32')