In [1]:
from pandas import DataFrame, read_csv
import matplotlib.pyplot as plt
import pandas as pd
import matplotlib
%matplotlib inline

In [12]:
Local = r'C:\Users\Apaluz\programacao\dados_brutos\alturas_mare2.csv'
#df = pd.read_csv(Local, header = None)
df = pd.read_csv(Local, names = ['Data','H1','A1', 'H2', 'A2', 'H3', 'A3','H4', 'A4', 'H5', 'A5', 'H6', 'A6', 'H7', 'A7', 'H8', 'A8'])

In [14]:
df.H1

0      01:13
1      01:43
2      02:00
3      00:53
4      06:56
5      00:21
6      01:13
7      01:56
8      02:34
9      03:08
10     03:45
11     04:11
12     00:32
13     01:26
14     02:28
15     00:23
16     01:13
17     02:02
18     00:09
19     01:15
20     00:13
21     01:09
22     02:00
23     02:45
24     03:21
25     04:00
26     00:23
27     01:02
28     01:53
29     01:02
       ...
336    04:23
337    00:13
338    01:19
339    02:26
340    00:17
341    00:53
342    01:24
343    02:00
344    00:23
345    00:36
346    01:11
347    01:53
348    02:28
349    03:09
350    03:58
351    00:45
352    01:38
353    00:02
354    00:58
355    01:43
356    02:08
357    00:38
358    06:47
359    07:32
360    00:51
361    01:32
362    02:08
363    02:51
364    03:26
365    04:06
Name: H1, dtype: object