In [7]:
import pandas as pd

In [8]:
d = {'one':[1,1], 'two':[2,2]}
i = ['a', 'b']

In [10]:
df = pd.DataFrame(data = d, index = i)

In [11]:
df

   one  two
a    1    2
b    1    2

In [12]:
stack = df.stack()
stack

a  one    1
   two    2
b  one    1
   two    2
dtype: int64

In [15]:
trans = df.T
trans

     a  b
one  1  1
two  2  2

In [16]:
# Our small data set
d = {'one':[1,1,1,1,1],
     'two':[2,2,2,2,2],
     'letter':['a','a','b','b','c']}

# Create dataframe
df = pd.DataFrame(d)
df

  letter  one  two
0      a    1    2
1      a    1    2
2      b    1    2
3      b    1    2
4      c    1    2

In [22]:
one = df.groupby('letter')
one.max()

        one  two
letter
a         1    2
b         1    2
c         1    2