In [11]:
from pandas import DataFrame, read_csv, datetime, Series, Timestamp
import matplotlib.pyplot as plt
import pandas as pd
import matplotlib
import numpy as np
from pandas.tseries.offsets import *
#%matplotlib inline

In [12]:
loca = r'/home/pauloque/programacao/pauloqrepo/jupyter/grafico_mare/dados_brutos/alturas_mare_excel.xlsx'
df = pd.read_excel(loca)

In [13]:
df.head()

,DATA,HORA,ALT,HORA.1,ALT.1,HORA.2,ALT.2,HORA.3,ALT.3,HORA.4,ALT.4,HORA.5,ALT.5,HORA.6,ALT.6,HORA.7,ALT.7
0,2016-01-01,01:13:00,0.7,03:39:00,0.5,07:17:00,1.3,10:56:00,0.6,13:21:00,0.8,15:54:00,0.6,19:36:00,1.3,23:13:00,0.6
1,2016-01-02,01:43:00,0.8,04:26:00,0.5,08:08:00,1.2,11:30:00,0.7,13:47:00,0.8,16:43:00,0.6,20:26:00,1.2,23:58:00,0.7
2,2016-01-03,02:00:00,0.8,05:11:00,0.5,09:04:00,1.1,12:13:00,0.8,13:56:00,0.9,17:24:00,0.5,21:28:00,1.2,NaN,NaN
3,2016-01-04,00:53:00,0.9,02:06:00,0.9,06:02:00,0.5,10:13:00,1.1,18:09:00,0.4,22:53:00,1.2,NaN,NaN,NaN,NaN
4,2016-01-05,06:56:00,0.4,11:49:00,1.1,18:58:00,0.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## DATA e HORA para string

In [29]:
data = str(df['DATA'][0])
data

'2016-01-01 00:00:00'

In [5]:
stampdata = data[0:len(data) - 9] + ' ' + str(df['HORA'][0])
stampdata

'2016-01-01 01:13:00'

In [33]:
data[0:4]

'2016'

In [6]:
hora = Timestamp(stampdata)
hora

Timestamp('2016-01-01 01:13:00')

------------------------

In [14]:
datas = []

for i in df['DATA'] :
    datas.append(Timestamp(i))
#datas

In [15]:
datasstr = []

for i in datas:
    strdata = str(i)
    datasstr.append(strdata)
type(datasstr)

list

In [16]:
datasstr[1][0:3]

'201'

In [ ]:
#Ja sei concatenar mas ainda nao eh a concatenacao correta
datahora = []
for l in range(len(datasstr)):
    stampdatas = datasstr[l][0:len(datasstr[l]) - 9] + ' ' +str(df['HORA'][l])
    datahora.append(stampdatas)
datahora

dataHORA = []
for l in range(len(datasstr)):
    stampdatas = datasstr[l][0:len(datasstr[l]) - 9] + ' ' +str(df['HORA'][l])
    print(stampdatas)

In [20]:
datasstr[1]

'2016-01-02 00:00:00'

In [22]:
stampdatas = datasstr[1][0:len(datasstr[l]) - 9] + ' ' +str(df['HORA'][1])
stampdatas

'2016-01-02 01:43:00'

In [27]:
cabecalho = []
for i in df:
    cabecalho.append(i)
cabecalho

['DATA',
 'HORA',
 'ALT',
 'HORA.1',
 'ALT.1',
 'HORA.2',
 'ALT.2',
 'HORA.3',
 'ALT.3',
 'HORA.4',
 'ALT.4',
 'HORA.5',
 'ALT.5',
 'HORA.6',
 'ALT.6',
 'HORA.7',
 'ALT.7']

In [30]:
string = "hello world"
string.startswith("hello")
print('oi')

oi

In [33]:
strcabec = []
for i in cabecalho:
    if i.startswith('HORA'):
        strcabec.append(i)
strcabec

['HORA', 'HORA.1', 'HORA.2', 'HORA.3', 'HORA.4', 'HORA.5', 'HORA.6', 'HORA.7']

In [44]:
#Gratidao
indice = []
for l in range(len(datasstr)):
    for i in strcabec:
        stampdatas = datasstr[l][0:len(datasstr[l]) - 9] + ' ' +str(df[i][l])
        indice.append(stampdatas)
#indice

In [77]:
#DataFrameDATAxAlT
dfdxa = pd.DataFrame(indice)
dfdxa.index = indice
dfdxa.columns = ['ALT']
dfdxa['ALT'] = 0
dfdxa.head()

                     ALT
2016-01-01 01:13:00    0
2016-01-01 03:39:00    0
2016-01-01 07:17:00    0
2016-01-01 10:56:00    0
2016-01-01 13:21:00    0

In [70]:
alt1 = df['ALT'][0]
alt1

0.69999999999999996

In [75]:
altura = []
for p in range(len(datasstr)):
    for i in cabecalho:
        if i.startswith('ALT'):
            altu = df[i][p]
            altura.append(altu)
#altura

In [80]:
dfdxa['ALT'] = altura
dfdxa.head()

                     ALT
2016-01-01 01:13:00  0.7
2016-01-01 03:39:00  0.5
2016-01-01 07:17:00  1.3
2016-01-01 10:56:00  0.6
2016-01-01 13:21:00  0.8

In [ ]:
dfdxa['ALT'].plot(figsize=(15,5))
plt.show()