In [31]:
from pandas import DataFrame, read_csv, datetime, Series, Timestamp
import matplotlib.pyplot as plt
import pandas as pd
import matplotlib
import numpy as np
from pandas.tseries.offsets import *
#%matplotlib inline

In [10]:
#Local = r'/home/pauloque/programacao/pauloqrepo/jupyter/grafico_mare/dados_brutos/alturas_mare2.csv'
#df1 = pd.read_csv(Local, header = None)
#df1 = pd.read_csv(Local, names = ['Data','H1','A1', 'H2', 'A2', 'H3', 'A3','H4', 'A4', 'H5', 'A5', 'H6', 'A6', 'H7', 'A7', 'H8', 'A8'])

In [9]:
#df1.head()

In [5]:
####df.to_excel('teste_excel_expo.xlsx', index = False)

In [32]:
loca = r'/home/pauloque/programacao/pauloqrepo/jupyter/grafico_mare/dados_brutos/alturas_mare_excel.xlsx'
df = pd.read_excel(loca)

In [33]:
df.head()

,DATA,HORA,ALT,HORA.1,ALT.1,HORA.2,ALT.2,HORA.3,ALT.3,HORA.4,ALT.4,HORA.5,ALT.5,HORA.6,ALT.6,HORA.7,ALT HORA ALT HORA ALT
0,2016-01-01,01:13:00,0.7,03:39:00,0.5,07:17:00,1.3,10:56:00,0.6,13:21:00,0.8,15:54:00,0.6,19:36:00,1.3,23:13:00,0.6
1,2016-01-02,01:43:00,0.8,04:26:00,0.5,08:08:00,1.2,11:30:00,0.7,13:47:00,0.8,16:43:00,0.6,20:26:00,1.2,23:58:00,0.7
2,2016-01-03,02:00:00,0.8,05:11:00,0.5,09:04:00,1.1,12:13:00,0.8,13:56:00,0.9,17:24:00,0.5,21:28:00,1.2,NaN,NaN
3,2016-01-04,00:53:00,0.9,02:06:00,0.9,06:02:00,0.5,10:13:00,1.1,18:09:00,0.4,22:53:00,1.2,NaN,NaN,NaN,NaN
4,2016-01-05,06:56:00,0.4,11:49:00,1.1,18:58:00,0.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
data = str(df['DATA'][0])
data

'2016-01-01 00:00:00'

In [35]:
stampdata = data[0:len(data) - 9] + ' ' + str(df['HORA'][0])
stampdata

'2016-01-01 01:13:00'

In [36]:
hora = Timestamp(stampdata)
hora

Timestamp('2016-01-01 01:13:00')

In [37]:
#for i in df:
    #print(i)

In [38]:
#for i in df:
 #   if i == 'A1':
        #print(df[i])

In [39]:
#d = df['DATA'][1] 
#d

In [40]:
#dhh = d + Hour(1)
#D = dhh + Minute(43)
#D

In [41]:
#h = df['HORA'][1]
#h

In [42]:
#pd.Timestamp('1, 2')

In [44]:
hora = pd.date_range(start='2016-01-02', end='2016-02-02', periods=None, freq='D', tz=None)

In [45]:
data =[]

for i in hora:
    data.append(Timestamp(i))
data

[Timestamp('2016-01-02 00:00:00'),
 Timestamp('2016-01-03 00:00:00'),
 Timestamp('2016-01-04 00:00:00'),
 Timestamp('2016-01-05 00:00:00'),
 Timestamp('2016-01-06 00:00:00'),
 Timestamp('2016-01-07 00:00:00'),
 Timestamp('2016-01-08 00:00:00'),
 Timestamp('2016-01-09 00:00:00'),
 Timestamp('2016-01-10 00:00:00'),
 Timestamp('2016-01-11 00:00:00'),
 Timestamp('2016-01-12 00:00:00'),
 Timestamp('2016-01-13 00:00:00'),
 Timestamp('2016-01-14 00:00:00'),
 Timestamp('2016-01-15 00:00:00'),
 Timestamp('2016-01-16 00:00:00'),
 Timestamp('2016-01-17 00:00:00'),
 Timestamp('2016-01-18 00:00:00'),
 Timestamp('2016-01-19 00:00:00'),
 Timestamp('2016-01-20 00:00:00'),
 Timestamp('2016-01-21 00:00:00'),
 Timestamp('2016-01-22 00:00:00'),
 Timestamp('2016-01-23 00:00:00'),
 Timestamp('2016-01-24 00:00:00'),
 Timestamp('2016-01-25 00:00:00'),
 Timestamp('2016-01-26 00:00:00'),
 Timestamp('2016-01-27 00:00:00'),
 Timestamp('2016-01-28 00:00:00'),
 Timestamp('2016-01-29 00:00:00'),
 Timestamp('2016-01-30 00:00:00'),
 Timestamp('2016-01-31 00:00:00'),
 Timestamp('2016-02-01 00:00:00'),
 Timestamp('2016-02-02 00:00:00')]

In [30]:
#dh = df['HORA'][1]
#dh

In [46]:
#df.dtypes

In [47]:
#dhs = str(dh)
#for i, e in enumerate(dhs):
    #print(i, e)

In [23]:
#int(dhs[3:5])