In [1]:
import pandas as pd

In [2]:
d = [0,1,2,3,4,5,6,7,8,9]

In [4]:
df = pd.DataFrame(d)
df

   0
0  0
1  1
2  2
3  3
4  4
5  5
6  6
7  7
8  8
9  9

In [5]:
df.columns = ['Rev']
df

   Rev
0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9

In [13]:
df['Newcol'] = 5
df

   Rev  Newcol
0    0       5
1    1       5
2    2       5
3    3       5
4    4       5
5    5       5
6    6       5
7    7       5
8    8       5
9    9       5

In [11]:
del df['Newcol']
df

   Rev
0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9

In [14]:
i = ['a','b','c','d','e','f','g','h','i','j']
df.index = i
df

   Rev  Newcol
a    0       5
b    1       5
c    2       5
d    3       5
e    4       5
f    5       5
g    6       5
h    7       5
i    8       5
j    9       5

In [15]:
df.loc['a']

Rev       0
Newcol    5
Name: a, dtype: int64

In [17]:
df.loc['a':'d']

   Rev  Newcol
a    0       5
b    1       5
c    2       5
d    3       5

In [18]:
trans = df.T
trans

        a  b  c  d  e  f  g  h  i  j
Rev     0  1  2  3  4  5  6  7  8  9
Newcol  5  5  5  5  5  5  5  5  5  5